.nav.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

* {
	color:
}

header {
	background: #fd79a8


}

head,body,section,footer,aside,nav,article {
	border: 1px solid black;
}



footer {
	background: #273c75
}

h1 {
 	font-family: sans-serif;
	font-weight: bold;

}

h2 {
	font: bold 14px sans-serif;

}


body {
	text-align : left;
}

table {
	background: #7f8fa6
}

div {

	width: 100;
	height: 100;
	background: yellow;
	color: rojo;
	font-size: 30px;
}


.caja {
	position:relative;
	top: 
    bottom:;
    right:
    left:200px;
}